body {
    
     min-height: 90vh;
    
}
.container {

    max-width: 600px;
    margin: auto;
    
}
.my-form {
    margin-top: 100px;
    min-height: 300px;
    background-color: #ccc;
    padding: 20px;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    min-height: 75px;
}
.form-group input {
    padding: 10px;
    border: 5px;
    border-radius: 5px;
}
.form-group label {
    margin-bottom: 5px;
    font-size: 16px;
    color:green;
}
.error-mesage {
    color: red;
}
button {
    padding: 10px;
    color: #fff;
    border: 1px;
    border-radius: 4px;
    font-size: 18px;
    background-color: rgb(7, 18, 168);
}
.my-title {
    color: blue;
    padding: 10px;
    margin-left: 100px;
    font-size: 40px;
}
footer {
    background: darkblue;
    min-height: 300px;
    width: 100%;
    margin-top: 30px;
}
#footer-title {
    color:#fff;
    padding: 20px;
}